@model UlskDel.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-wrapper">
    <h2>Детали</h2>

    <div>
        <h4>Заказ</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Sender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Receiver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Receiver)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address_Sender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address_Sender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address_Receiver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address_Receiver)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone_Sender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone_Sender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone_Receiver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone_Receiver)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Length)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Length)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Width)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Width)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Who_pay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Who_pay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourierId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourierId)
            </dd>

        </dl>
    </div>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>


    @if (User.IsInRole("courier"))
    {
        <p>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.OrderId }) |
            @Html.ActionLink("Назад", "Index")
        </p>
    }
    else if (User.IsInRole("customer"))
    {
        <a href="@Url.Action("Index","LK")">Вернуться в личный кабинет</a>
    }

    @if (Model.Status == "получен")
    {
        if (User.IsInRole("customer"))
        {
            @Html.ActionLink("Оценить", "Rate", "Customers", new { id = Model.OrderId }, new { @class = "compItem" })
        }
        else
        {
            @Html.ActionLink("Оценить", "Rate", "Couriers", new { id = Model.OrderId }, new { @class = "compItem" })
        }


        }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });
    </script>
}