@model IEnumerable<UlskDel.Models.Order>
@{
    ViewBag.Title = "Distribute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-wrapper">
    <h2>Распределение</h2>

    <div>
        @using (Html.BeginForm("Distribute", "Orders", FormMethod.Get))
        {
            <p>
                Фильтрация: @Html.DropDownList("id")
                <input type="submit" value="Фильтровать" style="text-align: center" />
            </p>
        }
        @ViewBag.Error

    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address_Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address_Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status != "отправлен")
                    {
                        @Html.ActionLink("Назначить курьера", "Edit", new { id = item.OrderId });
                    }
                </td>
            </tr>
        }

    </table>
</div>

