@model IEnumerable<UlskDel.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-wrapper">
<h2>Заказы</h2>
<div>
    @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
    {
        <p>
            Фильтрация: @Html.DropDownList("id")
            <input type="submit" value="Фильтровать" style="text-align: center" />
        </p>
    }
    @ViewBag.Error

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Receiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status != "отправлен") {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.OrderId });
                }
                @Html.ActionLink("Детали", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>

<div>
    @{
        TempData["FullModel"] = Model.ToList();
    }
    @using (Html.BeginForm("save", "orders", new { order = Model }, FormMethod.Post))
    {

        <p>
            <input type="submit" value="сохранить отчет" style="text-align: center" />
        </p>
    }
    @ViewBag.error
</div>
</div>
