@model UlskDel.Models.Customer
@using UlskDel.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-wrapper">
    <h2>Личный кабинет</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Заказы</dt>
            @if (Model.Orders.Count == 0)
            {
                <dd>Пока нет заказов</dd>
            }

        </dl>
        @if (Model.Orders.Count != 0)
        {
            <table class="table">
                <tr>
                    <th>Отправитель </th>
                    <th>Получатель</th>
                    <th>Адрес отправителя</th>
                    <th>Адрес получателя</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Статус</th>
                    <th></th>
                </tr>

                @foreach (Order order in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => order.Sender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.Receiver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.Address_Sender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.Address_Receiver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Детали", "Details", "Orders", new { id = order.OrderId }, null)|
                            @if (order.Print)
                            {
                                @Html.ActionLink("Печать", "Print", "Orders", new { id = order.OrderId }, null)
                            }
                        </td>

                    </tr>
                }

            </table>
        }
        @if (User.IsInRole("customer"))
        {
            <div>@Html.ActionLink("Совершить заказ", "Create", "Orders")</div>
        }
    </div>
    <p>
        @Html.ActionLink("Изменить почту или пароль", "Edit", "Users", new { id = Model.Id }, null)
    </p>
</div>
