@model UlskDel.Models.Courier
@using UlskDel.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-wrapper">
    <h2>Личный кабинет</h2>
    <div>
        @using (Html.BeginForm("Details", "Couriers", FormMethod.Get))
        {
            <p>
                Заказы на сегодня: @Html.CheckBox("searchString")
                <input type="submit" value="Фильтровать" style="text-align: center" />
            </p>
        }
        @ViewBag.Error

    </div>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Заказы</dt>
            @if (Model.Orders.Count == 0)
            {
                <dd>Пока нет заказов</dd>
            }

        </dl>
        @if (Model.Orders.Count != 0)
        {
            <table class="table">
                <tr>
                    <th>Отправитель </th>
                    <th>Получатель</th>
                    <th>Адрес отправителя</th>
                    <th>Адрес получателя</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Статус</th>
                    <th></th>
                </tr>

                @foreach (Order item in (List<Order>)ViewData["MyList"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address_Sender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address_Receiver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Детали", "Details", "Orders", new { id = item.OrderId }, null)|
                            @if (item.Print)
                            {
                                @Html.ActionLink("Печать", "Print", "Orders", new { id = item.OrderId }, null)
                            }
                        </td>

                    </tr>
                }

            </table>
        }
    </div>
    <p>
        @Html.ActionLink("Изменить почту или пароль", "Edit", "Users", new { id = Model.Id }, new { })
    </p>

    <div>
        @{
            TempData["FullModel"] = (List<Order>)ViewData["MyList"];
        }
        @using (Html.BeginForm("save", "orders", new { order = Model }, FormMethod.Post))
        {

            <p>
                <input type="submit" value="сохранить отчет" style="text-align: center" />
            </p>
        }
        @ViewBag.error
    </div>
</div>