@model UlskDel.Models.User
@using  UlskDel.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>Заказы</dt>
        @if (Model.Orders.Count == 0)
        {
            <dd>Пока нет заказов</dd>
        }

    </dl>
    @if (Model.Orders.Count != 0)
    {
    <table class="table">
        <tr>
            <th>Sender </th>
            <th>Receiver</th>
            <th>Address_Sender</th>
            <th>Address_Receiver</th>
            <th>Phone_Sender</th>
            <th>Phone_Receiver</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Weight</th>
            <th>Length</th>
            <th>Width</th>
            <th>Height</th>
            <th>Оплата отправителем</th>
            <th>Price</th>
        </tr>

        @foreach (Order order in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Address_Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Address_Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Phone_Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Phone_Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Who_pay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Price)
                </td>
            </tr>
        }

    </table>
    }
    @if (User.IsInRole("user"))
    {
        <div>@Html.ActionLink("Совершить заказ", "Create", "Orders")</div>
    }
</div>
<p>
    @Html.ActionLink("Изменить логин или пароль","Edit", new { id = Model.Id })
</p>
