@model UlskDel.Models.User
@using  UlskDel.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>Заказы</dt>
        @if (Model.Orders.Count == 0)
        {
            <dd>У вас пока нет заказов</dd>
        }

    </dl>
    @if (Model.Orders.Count != 0)
    {
        <table>
            <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Address_Sender</th>
                <th>Address_Receiver</th>
                <th>Phone_Sender</th>
                <th>Phone_Receiver</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Weight</th>
                <th>Length</th>
                <th>Width</th>
                <th>Who_pay</th>
            </tr>

            @foreach (Order order in Model.Orders)
            {

                <tr>
                    <td>@order.Sender</td>
                    <td>@order.Receiver</td>
                    <td>@order.Address_Sender</td>
                    <td>@order.Address_Receiver</td>
                    <td>@order.Phone_Sender</td>
                    <td>@order.Phone_Receiver</td>
                    <td>@order.Date</td>
                    <td>@order.Time</td>
                    <td>@order.Status</td>
                    <td>@order.Weight</td>
                    <td>@order.Length</td>
                    <td>@order.Width</td>
                    <td>@order.Who_pay</td>
                </tr>
            }
        </table>
    }
    <div>@Html.ActionLink("Совершить заказ", "Create", "Orders")</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
