<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8eca35a4-b90a-4aea-868d-f6fc2c565864&lang=ru_RU" type="text/javascript">
    </script>
</head>

<body>
    <header class="myheader">
        <ul>
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        </ul>
        <div class="user">
            <p>Log In</p>
            <p>Auth</p>
        </div>
    </header>
    <div class="menu">
        <ul>
            <li>@Html.ActionLink("О нас", "About", "Home")</li>
            <li>@Html.ActionLink("Расчет стоимости доставки", "Count", "Home")</li>
            <li>@Html.ActionLink("Заказ", "Index", "Orders")</li>
            <li>@Html.ActionLink("Юзеры", "Index", "Users")</li>
        </ul>
    </div>
    @RenderBody()
    <footer>
        <div class="myfooter">
            <p>НОВОСТИ</p>
            <p>ЗАПРЕЩЕНО К ПЕРЕСЫЛКЕ</p>
            <p>ВОПРОС-ОТВЕТ</p>
        </div>
    </footer>
</body>
</html>
@Scripts.Render("~/scripts/script.js")