<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8eca35a4-b90a-4aea-868d-f6fc2c565864&lang=ru_RU" type="text/javascript">
    </script>
</head>

<body>
    <header class="myheader">
        <img class="logo" src="~/Content/logo.jpg">
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("О нас", "About", "Home")</li>
                <li>@Html.ActionLink("Расчет стоимости доставки", "Count", "Home")</li>
                @if (User.IsInRole("courier"))
                {
                    <li>@Html.ActionLink("Заказы", "Index", "Orders")</li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Юзеры", "Index", "Users")</li>
                }
            </ul>
        </div>
        <div class="user">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("user"))
                {
                    <a href="@Url.Action("Index","LK")">@User.Identity.Name</a>
                }
                <p>@Html.ActionLink("Log Out", "Logoff", "Account")</p>
            }
            else
            {
                <p>@Html.ActionLink("Log In", "Login", "Account")</p>
                <p>@Html.ActionLink("Auth", "Register", "Account")</p>
            }
        </div>
    </header>
    
    <div class="wrapper">
        @RenderBody()
    </div>
    <footer>
        <div class="myfooter">
            @*<p>НОВОСТИ</p>
            <p>ЗАПРЕЩЕНО К ПЕРЕСЫЛКЕ</p>
            <p>ВОПРОС-ОТВЕТ</p>*@
        </div>
    </footer>
</body>
</html>
@Scripts.Render("~/scripts/myscript.js")